# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
venv/
env/
.env/

# IDE/editor folders and files
.vscode/
*.idea/
*.sublime-project
*.sublime-workspace

# MacOS files
.DS_Store

# Logs and databases
*.log
*.sqlite3

# Python test cache
.pytest_cache/
